In [41]:
import pandas as pd

In [42]:
heart_disease=pd.read_csv("processed.cleveland.data", names=["E","S","D","H","C","A",
                                                            "RE","HR","AI","SER",
                                                            "P","F","T",
                                                            "EC"],na_values='?')
heart_disease

,E,S,D,H,C,A,RE,HR,AI,SER,P,F,T,EC
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,NaN,3.0,0

In [43]:
heart_disease=heart_disease.dropna()
heart_disease#eliminamos los datos con valores nulos

,E,S,D,H,C,A,RE,HR,AI,SER,P,F,T,EC
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1

Las claves son:
1. E: EDAD; Edad del paciente en aÃ±os
2. S: SEXO; 1 hombre, 0 mujer
3. D: DOLOR_PECHO; Tipo de dolor en el pecho; 1 Angina tipica, 2 Angina no tipica, 3, dolor no anginal, 4 asintomatico
4. H: PRESION_SANG; Presion sanguinea (mm HG al llegar al hospital)
5. C: COLESTEROL; serum colesterol en mg/dl
6. A: AZUCAR_SANG; 1 si >120mg/dl, 0 d.l.c
7. RE: RES_ELECTC; 0 si normal, 1 si existe una anormalidad en la onda, 2 showing probable or definite left ventricular hypertrophy by Estes' criteria
8. HR: MAX_HERT_R;
9. AI: EXERCISE_IND_ANG; 1 si se induce, 0 si no
10. SER: ST_EXERC_REPOSO; ST depression induced by exercise relative to rest
11. P: PENDIENTE; slope: the slope of the peak exercise ST segment, 1 upslopging, 2 flat, 3 downsloping
12. F: NUMBER_MV_F; number of major vessels (0-3) colored by flourosopy
13. T: thal; 3 = normal; 6 = fixed defect; 7 = reversable defect
14. EC: num; diagnosis of heart disease (angiographic disease status)
        -- Value 0: < 50% diameter narrowing
        -- Value 1: > 50% diameter narrowing
        (in any major vessel: attributes 59 through 68 are vessels)

In [44]:
#transformamos la columna de D, dolor en el pecho, en binaria
heart_disease.D=heart_disease.D.apply(lambda num: 0 if num==4 else 1)
heart_disease

C:\Users\pablo\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        E    S  D      H      C    A   RE     HR   AI  SER    P    F    T  EC
0    63.0  1.0  1  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1    67.0  1.0  0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2    67.0  1.0  0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3    37.0  1.0  1  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4    41.0  0.0  1  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0
..    ...  ... ..    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
297  57.0  0.0  0  140.0  241.0  0.0  0.0  123.0  1.0  0.2  2.0  0.0  7.0   1
298  45.0  1.0  1  110.0  264.0  0.0  0.0  132.0  0.0  1.2  2.0  0.0  7.0   1
299  68.0  1.0  0  144.0  193.0  1.0  0.0  141.0  0.0  3.4  2.0  2.0  7.0   2
300  57.0  1.0  0  130.0  131.0  0.0  0.0  115.0  1.0  1.2  2.0  1.0  7.0   3
301  57.0  0.0  1  130.0  236.0  0.0  2.0  174.0  0.0  0.0  2.0  1.0  3.0   1

[297 rows x 14 columns]

In [45]:
#transformamos ahora la columna de presion sanguinea, tomando como limite un valor de 130 mm de Hg
heart_disease.H=heart_disease.H.apply(lambda num:0 if num<130 else 1)
heart_disease

C:\Users\pablo\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        E    S  D  H      C    A   RE     HR   AI  SER    P    F    T  EC
0    63.0  1.0  1  1  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1    67.0  1.0  0  1  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2    67.0  1.0  0  0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3    37.0  1.0  1  1  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4    41.0  0.0  1  1  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0
..    ...  ... .. ..    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
297  57.0  0.0  0  1  241.0  0.0  0.0  123.0  1.0  0.2  2.0  0.0  7.0   1
298  45.0  1.0  1  0  264.0  0.0  0.0  132.0  0.0  1.2  2.0  0.0  7.0   1
299  68.0  1.0  0  1  193.0  1.0  0.0  141.0  0.0  3.4  2.0  2.0  7.0   2
300  57.0  1.0  0  1  131.0  0.0  0.0  115.0  1.0  1.2  2.0  1.0  7.0   3
301  57.0  0.0  1  1  236.0  0.0  2.0  174.0  0.0  0.0  2.0  1.0  3.0   1

[297 rows x 14 columns]

In [46]:
#transformamos ahora la columna C, colesterol, teniendo un valor normal de 200 mg/dl
heart_disease.C=heart_disease.C.apply(lambda num: 0 if num<=200 else 1)
heart_disease

C:\Users\pablo\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        E    S  D  H  C    A   RE     HR   AI  SER    P    F    T  EC
0    63.0  1.0  1  1  1  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1    67.0  1.0  0  1  1  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2    67.0  1.0  0  0  1  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3    37.0  1.0  1  1  1  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4    41.0  0.0  1  1  1  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0
..    ...  ... .. .. ..  ...  ...    ...  ...  ...  ...  ...  ...  ..
297  57.0  0.0  0  1  1  0.0  0.0  123.0  1.0  0.2  2.0  0.0  7.0   1
298  45.0  1.0  1  0  1  0.0  0.0  132.0  0.0  1.2  2.0  0.0  7.0   1
299  68.0  1.0  0  1  0  1.0  0.0  141.0  0.0  3.4  2.0  2.0  7.0   2
300  57.0  1.0  0  1  0  0.0  0.0  115.0  1.0  1.2  2.0  1.0  7.0   3
301  57.0  0.0  1  1  1  0.0  2.0  174.0  0.0  0.0  2.0  1.0  3.0   1

[297 rows x 14 columns]

In [47]:
#Transformamos la columna RE, resultados del electrocardiograma:
heart_disease.RE=heart_disease.RE.apply(lambda num: 0 if num==0 else 1)
heart_disease

C:\Users\pablo\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        E    S  D  H  C    A  RE     HR   AI  SER    P    F    T  EC
0    63.0  1.0  1  1  1  1.0   1  150.0  0.0  2.3  3.0  0.0  6.0   0
1    67.0  1.0  0  1  1  0.0   1  108.0  1.0  1.5  2.0  3.0  3.0   2
2    67.0  1.0  0  0  1  0.0   1  129.0  1.0  2.6  2.0  2.0  7.0   1
3    37.0  1.0  1  1  1  0.0   0  187.0  0.0  3.5  3.0  0.0  3.0   0
4    41.0  0.0  1  1  1  0.0   1  172.0  0.0  1.4  1.0  0.0  3.0   0
..    ...  ... .. .. ..  ...  ..    ...  ...  ...  ...  ...  ...  ..
297  57.0  0.0  0  1  1  0.0   0  123.0  1.0  0.2  2.0  0.0  7.0   1
298  45.0  1.0  1  0  1  0.0   0  132.0  0.0  1.2  2.0  0.0  7.0   1
299  68.0  1.0  0  1  0  1.0   0  141.0  0.0  3.4  2.0  2.0  7.0   2
300  57.0  1.0  0  1  0  0.0   0  115.0  1.0  1.2  2.0  1.0  7.0   3
301  57.0  0.0  1  1  1  0.0   1  174.0  0.0  0.0  2.0  1.0  3.0   1

[297 rows x 14 columns]

In [48]:
#tranformamos ahora la columna HR, maxima frecuencia cardiaca, tomando como valor minimo normal 150
heart_disease.HR=heart_disease.HR.apply(lambda num: 0 if num>150 else 1)
heart_disease

C:\Users\pablo\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        E    S  D  H  C    A  RE  HR   AI  SER    P    F    T  EC
0    63.0  1.0  1  1  1  1.0   1   1  0.0  2.3  3.0  0.0  6.0   0
1    67.0  1.0  0  1  1  0.0   1   1  1.0  1.5  2.0  3.0  3.0   2
2    67.0  1.0  0  0  1  0.0   1   1  1.0  2.6  2.0  2.0  7.0   1
3    37.0  1.0  1  1  1  0.0   0   0  0.0  3.5  3.0  0.0  3.0   0
4    41.0  0.0  1  1  1  0.0   1   0  0.0  1.4  1.0  0.0  3.0   0
..    ...  ... .. .. ..  ...  ..  ..  ...  ...  ...  ...  ...  ..
297  57.0  0.0  0  1  1  0.0   0   1  1.0  0.2  2.0  0.0  7.0   1
298  45.0  1.0  1  0  1  0.0   0   1  0.0  1.2  2.0  0.0  7.0   1
299  68.0  1.0  0  1  0  1.0   0   1  0.0  3.4  2.0  2.0  7.0   2
300  57.0  1.0  0  1  0  0.0   0   1  1.0  1.2  2.0  1.0  7.0   3
301  57.0  0.0  1  1  1  0.0   1   0  0.0  0.0  2.0  1.0  3.0   1

[297 rows x 14 columns]

In [49]:
#Ahora transforamos la columna SER, depresion inducida por la prueba de esfuerzo, si es mayor a 1 mm se considera como psitivo
heart_disease.SER=heart_disease.SER.apply(lambda num: 0 if num<=1 else 1)
heart_disease

C:\Users\pablo\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        E    S  D  H  C    A  RE  HR   AI  SER    P    F    T  EC
0    63.0  1.0  1  1  1  1.0   1   1  0.0    1  3.0  0.0  6.0   0
1    67.0  1.0  0  1  1  0.0   1   1  1.0    1  2.0  3.0  3.0   2
2    67.0  1.0  0  0  1  0.0   1   1  1.0    1  2.0  2.0  7.0   1
3    37.0  1.0  1  1  1  0.0   0   0  0.0    1  3.0  0.0  3.0   0
4    41.0  0.0  1  1  1  0.0   1   0  0.0    1  1.0  0.0  3.0   0
..    ...  ... .. .. ..  ...  ..  ..  ...  ...  ...  ...  ...  ..
297  57.0  0.0  0  1  1  0.0   0   1  1.0    0  2.0  0.0  7.0   1
298  45.0  1.0  1  0  1  0.0   0   1  0.0    1  2.0  0.0  7.0   1
299  68.0  1.0  0  1  0  1.0   0   1  0.0    1  2.0  2.0  7.0   2
300  57.0  1.0  0  1  0  0.0   0   1  1.0    1  2.0  1.0  7.0   3
301  57.0  0.0  1  1  1  0.0   1   0  0.0    0  2.0  1.0  3.0   1

[297 rows x 14 columns]

In [50]:
#Modificamos ahora la columna de P, correpondiente a la pendiente de pico de la curva de la prueba de esfuerzo: Si es creciente
#tomara un valor de cero, de lo contrario 1

heart_disease.P=heart_disease.P.apply(lambda num: 0 if num==1 else 1)
heart_disease

C:\Users\pablo\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        E    S  D  H  C    A  RE  HR   AI  SER  P    F    T  EC
0    63.0  1.0  1  1  1  1.0   1   1  0.0    1  1  0.0  6.0   0
1    67.0  1.0  0  1  1  0.0   1   1  1.0    1  1  3.0  3.0   2
2    67.0  1.0  0  0  1  0.0   1   1  1.0    1  1  2.0  7.0   1
3    37.0  1.0  1  1  1  0.0   0   0  0.0    1  1  0.0  3.0   0
4    41.0  0.0  1  1  1  0.0   1   0  0.0    1  0  0.0  3.0   0
..    ...  ... .. .. ..  ...  ..  ..  ...  ... ..  ...  ...  ..
297  57.0  0.0  0  1  1  0.0   0   1  1.0    0  1  0.0  7.0   1
298  45.0  1.0  1  0  1  0.0   0   1  0.0    1  1  0.0  7.0   1
299  68.0  1.0  0  1  0  1.0   0   1  0.0    1  1  2.0  7.0   2
300  57.0  1.0  0  1  0  0.0   0   1  1.0    1  1  1.0  7.0   3
301  57.0  0.0  1  1  1  0.0   1   0  0.0    0  1  1.0  3.0   1

[297 rows x 14 columns]

In [51]:
#modificamos la columna F: si se presenta algun vaso coloreado 1, de lo contrario cero

heart_disease.F=heart_disease.F.apply(lambda num: 0 if num==0 else 1)
heart_disease

C:\Users\pablo\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        E    S  D  H  C    A  RE  HR   AI  SER  P  F    T  EC
0    63.0  1.0  1  1  1  1.0   1   1  0.0    1  1  0  6.0   0
1    67.0  1.0  0  1  1  0.0   1   1  1.0    1  1  1  3.0   2
2    67.0  1.0  0  0  1  0.0   1   1  1.0    1  1  1  7.0   1
3    37.0  1.0  1  1  1  0.0   0   0  0.0    1  1  0  3.0   0
4    41.0  0.0  1  1  1  0.0   1   0  0.0    1  0  0  3.0   0
..    ...  ... .. .. ..  ...  ..  ..  ...  ... .. ..  ...  ..
297  57.0  0.0  0  1  1  0.0   0   1  1.0    0  1  0  7.0   1
298  45.0  1.0  1  0  1  0.0   0   1  0.0    1  1  0  7.0   1
299  68.0  1.0  0  1  0  1.0   0   1  0.0    1  1  1  7.0   2
300  57.0  1.0  0  1  0  0.0   0   1  1.0    1  1  1  7.0   3
301  57.0  0.0  1  1  1  0.0   1   0  0.0    0  1  1  3.0   1

[297 rows x 14 columns]

In [52]:
#modificamos ahora la columna T: si presenta cualquier grado de talasemia 1, de lo contrario 0:
heart_disease["T"]=heart_disease["T"].apply(lambda num: 0 if num==3 else 1)
heart_disease

<ipython-input-52-78dcc5c7d057>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart_disease["T"]=heart_disease["T"].apply(lambda num: 0 if num==3 else 1)

        E    S  D  H  C    A  RE  HR   AI  SER  P  F  T  EC
0    63.0  1.0  1  1  1  1.0   1   1  0.0    1  1  0  1   0
1    67.0  1.0  0  1  1  0.0   1   1  1.0    1  1  1  0   2
2    67.0  1.0  0  0  1  0.0   1   1  1.0    1  1  1  1   1
3    37.0  1.0  1  1  1  0.0   0   0  0.0    1  1  0  0   0
4    41.0  0.0  1  1  1  0.0   1   0  0.0    1  0  0  0   0
..    ...  ... .. .. ..  ...  ..  ..  ...  ... .. .. ..  ..
297  57.0  0.0  0  1  1  0.0   0   1  1.0    0  1  0  1   1
298  45.0  1.0  1  0  1  0.0   0   1  0.0    1  1  0  1   1
299  68.0  1.0  0  1  0  1.0   0   1  0.0    1  1  1  1   2
300  57.0  1.0  0  1  0  0.0   0   1  1.0    1  1  1  1   3
301  57.0  0.0  1  1  1  0.0   1   0  0.0    0  1  1  0   1

[297 rows x 14 columns]

In [53]:
#transformamos ahora la la columna EC:
heart_disease.EC=heart_disease.EC.apply(lambda number: 0 if number==0 else 1)
heart_disease

C:\Users\pablo\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        E    S  D  H  C    A  RE  HR   AI  SER  P  F  T  EC
0    63.0  1.0  1  1  1  1.0   1   1  0.0    1  1  0  1   0
1    67.0  1.0  0  1  1  0.0   1   1  1.0    1  1  1  0   1
2    67.0  1.0  0  0  1  0.0   1   1  1.0    1  1  1  1   1
3    37.0  1.0  1  1  1  0.0   0   0  0.0    1  1  0  0   0
4    41.0  0.0  1  1  1  0.0   1   0  0.0    1  0  0  0   0
..    ...  ... .. .. ..  ...  ..  ..  ...  ... .. .. ..  ..
297  57.0  0.0  0  1  1  0.0   0   1  1.0    0  1  0  1   1
298  45.0  1.0  1  0  1  0.0   0   1  0.0    1  1  0  1   1
299  68.0  1.0  0  1  0  1.0   0   1  0.0    1  1  1  1   1
300  57.0  1.0  0  1  0  0.0   0   1  1.0    1  1  1  1   1
301  57.0  0.0  1  1  1  0.0   1   0  0.0    0  1  1  0   1

[297 rows x 14 columns]

In [54]:
#fijamos una edad de bajo riesgo para sufrir enfermedades cardiacas por debajo de 60 aÃ±os:
heart_disease.E=heart_disease.E.apply(lambda number: 0 if number<=60 else 1)
heart_disease

C:\Users\pablo\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

     E    S  D  H  C    A  RE  HR   AI  SER  P  F  T  EC
0    1  1.0  1  1  1  1.0   1   1  0.0    1  1  0  1   0
1    1  1.0  0  1  1  0.0   1   1  1.0    1  1  1  0   1
2    1  1.0  0  0  1  0.0   1   1  1.0    1  1  1  1   1
3    0  1.0  1  1  1  0.0   0   0  0.0    1  1  0  0   0
4    0  0.0  1  1  1  0.0   1   0  0.0    1  0  0  0   0
..  ..  ... .. .. ..  ...  ..  ..  ...  ... .. .. ..  ..
297  0  0.0  0  1  1  0.0   0   1  1.0    0  1  0  1   1
298  0  1.0  1  0  1  0.0   0   1  0.0    1  1  0  1   1
299  1  1.0  0  1  0  1.0   0   1  0.0    1  1  1  1   1
300  0  1.0  0  1  0  0.0   0   1  1.0    1  1  1  1   1
301  0  0.0  1  1  1  0.0   1   0  0.0    0  1  1  0   1

[297 rows x 14 columns]